.forecastCard {
    padding: 10px;
    border: 1px solid var(--flame);
    border-radius: 4px;
    background: var(--eerie-black);
    color: var(--floral-white);
    width: 80px;
    box-sizing: border-box;
}

@media (min-width: 1101px) {
    .forecastCard {
        width: 130px;
    }
}
@media (min-width: 1450px) {
    .forecastCard {
        width: 150px;
    }
}
.forecastImage {
    width: 50px;
    margin-bottom: -10px;
}
.forcastDesc {
    font-weight: 500;
    font-size: medium;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.tempIcon {
    width: 20px;
    height: 20px;
}
.temp {
    display: flex;
    justify-content: center;
    font-size: medium;
    min-width: 50px;
}
.time {
    font-size: medium;
}
