.wrapper {
    position: relative;
}
.cityInput {
    box-sizing: border-box;
    width: 300px;
    font-size: large;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-family: "inter";
}
.cityInput:focus {
    outline: none;
}
