.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.flexForecast {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /**/
    border-radius: 6px;

    min-width: 140px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 12px;
    margin-bottom: 60px;
}
.heading {
    /**/
    padding: 4rem;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--pozadina2);
    font-size: x-large;
}

.date {
    font-size: xx-large;
    text-align: left;
    display: flex;
    padding: 1rem 1rem 0rem 4rem;
}
