.container {
    display: flex;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
}

.flexForecast {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /**/
    border-radius: 6px;
    min-width: 140px;
    margin-bottom: 60px;
}

@media (max-width: 1100px) {
    .flexForecast > .forecastCard {
        flex-basis: 20%;
    }
}
.heading {
    /**/
    padding: 4rem;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--pozadina2);
    font-size: x-large;
}

.date {
    font-size: xx-large;
    text-align: left;
    display: flex;
    margin-bottom: 10px;
}

.margin {
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 100%;
}
