@font-face {
    font-family: "inter";
    src: url(../public/inter-light.ttf);
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "inter";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--eerie-black);
    color: var(--floral-white);
}
::-webkit-scrollbar {
    display: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
* {
    color: var(--floral-white) !important;
}

:root {
    --floral-white: #fffcf2ff;
    --timberwolf: #ccc5b9ff;
    --black-olive: #403d39ff;
    --eerie-black: #252422ff;
    --flame: #eb5e28ff;

    /* Legacy variables for compatibility */
    --pozadina: var(--eerie-black);
    --tekst: var(--floral-white);
    --header-footer: var(--black-olive);
    --tekst2: var(--floral-white);
}
