@font-face {
    font-family: "inter";
    src: url(../public/inter-light.ttf);
}

body {
    margin: 0;

    font-family: "inter";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image: linear-gradient(to right, #efefbb 0%, #d4d3dd 60%);
    background-repeat: no-repeat repeat;
    background-size: contain;
    background-position: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
:root {
    --pozadina: #2c3639;
    --pozadina2: #3c5b5e;
    --tekst: #f1eee4;
    --tekst2: #a27b5c;
}
