.weather-card {
    border-radius: 6px;
    /**/
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--tekst);
    width: 450px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.city-name {
    font-size: 1.8rem;
    padding-top: 20px;
    height: 60px;
}
.image {
    width: 125px;
}
.icon {
    margin-bottom: 20px;
    font-size: large;
}
.firstPanel {
    width: 50%;
}
.secondPanel {
    height: max-content;
    margin-top: 25px;
    width: 45%;
}
.secondPanel > * {
    padding: 4px;
}
.descriptionIcon {
    font-size: 2rem;
}
@media screen and (max-width: 1000px) {
    .weather-card {
        width: 350px;
    }
    .firstPanel {
        margin-left: 10px;
    }
}
